.movie-container {
  height: 75px;
  top: 0;
};

.movie-title a {
  font-size: 2em;
  font-weight: bold;
}

.movie-image img {
  width: 100%;
}

.title {
  margin: 15px;
  padding-bottom: 10px;
}

.title p {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}
