.featured-image {
  a{
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    };
  };
};

#sub1 {
  z-index: 20;
}

.landing-review {
  width: 100%;
};

.padding-bot-4 {
  padding-bottom: 4em;
};

.padding-top-2 {
  padding-top: 2em;
}

.div-top {
  top: 0;
  height: 50%;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
  };
};

.div-bot {
  bottom: 0;
  height: 50%;
  p {
    text-align: center;
  };
};

.small-movie-feature {
  height: 500px;
};

.featured-image {
  h1 {
    width: 70%;
    text-align: center;
    font-weight: bold;
    font-size: 5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  };
};

.featured-thesis {
  font-size: 2em;
  display: block;
}

.custom-nav {
  padding-bottom: 8px;
  border-bottom: thick solid black;
  margin-bottom: 20px;
}
