.featured {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
};

.landing-review {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
};

.margin-bot-4 {
  padding-bottom: 4em;
}
