// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#critiques-container {

}

#critique-list {
  list-style:none;
}

#critique-list li {
  border-bottom: 1px solid black;
}

.big-star {
	font-size: 5em;
	color: palegoldenrod;
	position: relative;
}

.review-rating {
	font-size: 1.75em;
	position: absolute;
	left: 26px;
	top: 19px;
}

.review-matter {
	margin-left: 6em;
}

.icon-stack {
    position: relative;
    display: inline-block;
}

.icon-stack .glyphicon {
    position: absolute;

#replies-list {
  display: none;
}