<div>
	<div class="icon-stack">
		<i class="glyphicon glyphicon-star big-star"></i>
		<span class="review-rating"><%= review.rating %></span>
	</div>
<div class="review-matter">
	<h3><%= link_to(review.title, review) %></h3>
	<p><%= review.thesis %></p>
</div>
<div class="keypoint">
		<!-- // Acting -->
		<i class="glyphicon glyphicon-user"></i>
		<!-- // Cinematography -->
		<i class="glyphicon glyphicon-film"></i>

		<!-- // Score -->
		<i class="glyphicon glyphicon-music"></i>

		<!-- // Writing -->
		<i class="glyphicon glyphicon-pencil"></i>

		<!-- // Special Effects -->
		<i class="glyphicon glyphicon-fire"></i>
</div>
<hr/>