<div>
	<div class="icon-stack">
		<i class="glyphicon glyphicon-star big-star"></i>
		<span class="review-rating"><%= review.rating %></span>
	</div>
<div class="review-matter">
	<h3><%= link_to(review.title, review) %></h3>
	<p><%= review.thesis %></p>
</div>

<hr/>
<!--
// Acting
<span class="glyphicon glyphicon-user"></span>

// Cinematography
<span class="glyphicon glyphicon-film"></span>

// Score
<span class="glyphicon glyphicon-music"></span>

// Writing
<span class="glyphicon glyphicon-pencil"></span>

// Special Effects
<span class="glyphicon glyphicon-fire"></span> -->