<div>
	<div class="icon-stack">
		<i class="glyphicon glyphicon-star big-star"></i>
		<span class="review-rating"><%= review.rating %></span>
	<div>
<div class="review-matter">
	<h3><%= link_to(review.title, review) %></h3>
	<p><%= review.thesis %></p>
</div>

<hr/>