<!DOCTYPE html>
<html>
<head>
  <title>Odeon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default">
    <p class="navbar-text pull-right"><a href="log_out_link_here">Log out</a> | <a href="/">Log in</a></p>
  </div>
<%= yield %>

</body>
</html>
